<div class="filter-menu-item-inner">
	<span class="aria-label prevent-default" role="region" tabindex="0">{{_globals._menu._filterMenu.menuItemAria}}</span>
	<button class="base filter-menu-item-button" aria-label="{{title}}{{#if _isLocked}} {{_globals._accessibility._ariaLabels.locked}}{{/if}}{{#if _isVisited}} {{_globals._accessibility._ariaLabels.visited}}{{/if}}{{#if _isComplete}} {{_globals._accessibility._ariaLabels.complete}}{{/if}}">
		<img src="{{_graphic.src}}" class="filter-menu-item-image">
	</button>
	<div class="filter-menu-item-details">
		{{#if displayTitle}}
		<div class="filter-menu-item-title">{{{displayTitle}}}</div>
		{{/if}}
		{{#if body}}
		<div class="filter-menu-item-body">{{{a11y_text body}}}</div>
		{{/if}}
		{{#if duration}}
		<div class="filter-menu-item-duration" role="region" tabindex="0">{{{_globals._menu._filterMenu.durationLabel}}}{{{duration}}}</div>
		{{/if}}
		<div class="filter-menu-item-progress">
			<div class="filter-menu-item-progress-inner"></div>
		</div>
		<input id="filter-menu-item-pin-{{_id}}" type="checkbox"{{#if _isPinned}} checked{{/if}}>
		<label class="filter-menu-item-pin icon a11y-hideable" for="filter-menu-item-pin-{{_id}}"><span class="aria-label">{{_globals._menu._filterMenu.togglePinAria}}</span></label>
	</div>
	<span class="aria-label prevent-default" tabindex="0" role="region">{{_globals._menu._filterMenu.menuItemEndAria}}</span>
</div>